*{margin:0;padding:0;}
.clearfix::after{ content:'';display:block;clear:both;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul,ol{ list-style: none;}
hr{height:0; border:none; border-top:1px solid #dedede;}
body{ margin:0; background:#EFEFEF;}
a{ color:inherit;text-decoration: none;}
.topNavBar{ padding:20px 0; position:fixed; top:0; left:0; width:100%;}
.topNavBar-inner{padding:0 16px;}
.topNavBar nav{padding-top:7px;}
.topNavBar nav>ul{margin:0;padding:0;list-style:none;}
.topNavBar nav>ul>li{float:left;margin-left:17px;margin-right:17px;}
.topNavBar nav>ul>li>a{font-size:12px;color:rgba(255,255,255,0.7);font-weight:bold; border-top:3px solid transparent;border-bottom:3px solid transparent;padding-top:5px;padding-bottom:5px;display:block;}
.topNavBar nav>ul>li>a:hover{ border-bottom:3px solid #e86767;}
.topNavBar .logo{font-size: 24px;font-family: "Arial Black";padding-top:3px;padding-bottom:4px;}
.topNavBar .logo .rs{margin-right:4px;color:#e66666;}
.topNavBar .logo .card{color:#9a9da2;}
.banner{height:515px;background:url(img/rs-cover.jpg);background-position:center center;background-size:cover;}
.banner .mask{height:515px;background-color:rgba(0,0,0,0.8);}

/* main部分 */
body >main{margin-top:-360px;}

.userCard{max-width:940px;margin-left:auto;margin-right:auto;background:#fff;box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);}
.userCard .welcome{margin-bottom:10px; background: #e86767;display:inline-block;color:white;position: relative;padding:4px 16px;}
.userCard .welcome .triangle{display:block;position:absolute;top:100%;left:4px;border:10px solid transparent;width:0;border-left-color:#e86767;border-top-width:0px;}

.userCard .pictureAndText{padding:50px;} 
.userCard .picture{float:left;}
.userCard .text{float:left;margin-left:65px;width:470px;}

.userCard .text h1{margin-top:26px;}
/* 分割线 */
.userCard .text hr{margin:20px 0; }

/* 简介 */
.userCard dl dt, .userCard dl dd{float:left;padding:5px 0;}
.userCard dl dt{width:30%;font-weight: bold;}
.userCard dl dd{width:70%;color:#9da0a7;}
.userCard footer.media{background: #e6686a;text-align: center;}
.userCard footer.media >a{display: inline-block;border-radius: 50%;width:40px;line-height: 30px;padding:5px 0;margin:16px;}
.userCard footer.media >a:hover{background:#cf5d5f;}
/* svg样式 */
.userCard svg{height: 30px;width: 30px;fill:white;vertical-align: top;}

body >main .downloadResume{font-size: 14px;line-height: 16px;padding:21px 55px;border:1px solid #CDCFD1;display: inline-block;background:#efefef;border-radius: 2px;color:#3d4451;font-weight: bold;margin:32px 0;    transition:box-shadow 0.3s;}
body >main .downloadResume:hover{box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);}
body >main .downloadResume-wrapper{text-align: center;}
body>main .selfIntroduction{max-width:940px;margin-left:auto;margin-right:auto;text-align: center;font-family: kai;line-height: 1.8;font-size: 18px; }
/* main end */
/* section */
section.skills,section.portfolio{max-width:940px;margin-left:auto;margin-right:auto;margin-top:60px;}
section.skills h2,
section.portfolio h2{text-align: center;font-size: 34px;line-height: 1.2;font-weight: 600;color:#3d4451;}

section.skills ol{box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);background: white;padding:42px 50px 10px;margin-top:30px;}
section.skills ol li{float:left;width:48%;box-sizing: border-box;}
section.skills ol li:nth-child(even){float:right;}
section.skills h3{font-size: 14px;line-height: 1.1;padding-right:40px;}
section.skills .progressBar{height: 5px;background: #fae1e1;border-radius: 2px;margin:4px 0 40px;}
section.skills .progress{height: 100%;background:#e6686a;width:50%;}

/* 作品集 */
section.portfolio >nav{margin-top:32px;display:inline-block;vertical-align: top;}
section.portfolio >nav>ol{display: inline-block;vertical-align: top;}
section.portfolio >nav>ol>li{float:left;margin-left:40px;cursor:pointer;}
section.portfolio >nav>ol>li:first-child{margin:0;}
section.portfolio{text-align: center;margin-bottom:100px;}
section.portfolio >nav .bar{height: 5px;background: white;margin:5px 0 32px 0;border-radius: 2px;}
section.portfolio >nav .bar-inner{height: 100%;background: #e6686a;width:10%;border-radius: 2px;transition: all 0.3s;}
/* 状态样式 bar */
section.portfolio >nav .bar.state-1 .bar-inner{margin-left: 0;width:50px;}
section.portfolio >nav .bar.state-2 .bar-inner{margin-left: 73px;width:50px;}
section.portfolio >nav .bar.state-3 .bar-inner{margin-left: 145px;width:95px;}
/* 小盒子 */
section.portfolio .works{position:relative;}
section.portfolio .works>.big,
section.portfolio .works>.small{position:absolute;}
section.portfolio .works>.small{left:645px;top:0;}
section.portfolio .works>.small:nth-child(2){top:312px;}

/* loading */
.loading{height: 200px;width: 200px;border:1px solid red;position:relative;}
.loading::before,.loading::after{content:'';position: absolute;width: 0;height: 0;background: black;border-radius: 50%;top:0;left:0;right:0;bottom:0;margin:auto;animation: s 1.5s linear infinite;}
.loading::after{animation-delay: 0.75s;}
@keyframes s{0%{width: 0;height: 0;opacity: 1;}100%{width: 100px;height: 100px;opacity: 0;}}