*{margin:0;padding:0;}
.clearfix::after{ content:'';display:block;clear:both;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul,ol{ list-style: none;}
hr{height:0; border:none; border-top:1px solid #dedede;}
body{ margin:0; background:#EFEFEF;}
a{ color:inherit;text-decoration: none;}
[data-x].active{
   outline:10px solid red;
}
[data-x].offset{
   transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition:all 0.5s;
}


.topNavBar{ padding:20px 0; position:fixed; top:0; left:0; width:100%;transition: 1s all;color:#b7b7b7;}
.topNavBar.sticky{background: white; padding:10px 0;z-index: 1; box-shadow: 0 0 10px rgba(0,0,0,0.25);color:#3d4451;}
.topNavBar-inner{padding:0 16px;}
.topNavBar nav{padding-top:5px;}
.topNavBar nav>ul{margin:0;padding:0;list-style:none;}
.topNavBar nav>ul>li{float:left;margin-left:17px;margin-right:17px; position: relative;}
.topNavBar nav>ul>li>a{font-size:12px;color:inherit;font-weight:bold; border-top:3px solid transparent;border-bottom:3px solid transparent;padding-top:5px;padding-bottom:5px;display:block; position: relative;}
/* border无法从左往右  但是伪元素可以 */
.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after
{
    content:'';
    display:block;
    position: absolute; 
    top:100%;
    left:0;
    width:100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide .3s;
}
@keyframes menuSlide{
    0%{
       width:0;
    }
    100%{
        width:100%;
    }
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    right:0;
    top:100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.topNavBar li.active >.submenu{
    display: block;
    animation: submenuSlide .3s;
}
@keyframes submenuSlide{
    0%{
        margin-right:100%;
    }
    100%{
        margin-right:0;
    }
}
.topNavBar .submenu > li{
    white-space: nowrap;
    padding:10px;
}

.topNavBar .logo{font-size: 24px;font-family: "Arial Black";padding-top:3px;padding-bottom:4px;}
.topNavBar .logo .rs{margin-right:4px;color:#e66666;}
.topNavBar .logo .card{color:#9a9da2;}

.banner{height:515px;background:url(img/rs-cover.jpg);background-position:center center;background-size:cover;}
.banner .mask{height:515px;background-color:rgba(0,0,0,0.8);}

/* main部分 */
body >main{margin-top:-360px;}

.userCard{max-width:940px;margin-left:auto;margin-right:auto;background:#fff;box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);}
.userCard .welcome{margin-bottom:10px; background: #e86767;display:inline-block;color:white;position: relative;padding:4px 16px;}
.userCard .welcome .triangle{display:block;position:absolute;top:100%;left:4px;border:10px solid transparent;width:0;border-left-color:#e86767;border-top-width:0px;}

.userCard .pictureAndText{padding:50px;} 
.userCard .picture{float:left;}
.userCard .text{float:left;margin-left:65px;width:470px;}

.userCard .text h1{margin-top:26px;}
/* 分割线 */
.userCard .text hr{margin:20px 0; }

/* 简介 */
.userCard dl dt, .userCard dl dd{float:left;padding:5px 0;}
.userCard dl dt{width:30%;font-weight: bold;}
.userCard dl dd{width:70%;color:#9da0a7;}
.userCard footer.media{background: #e6686a;text-align: center;}
.userCard footer.media >a{display: inline-block;border-radius: 50%;width:40px;line-height: 30px;padding:5px 0;margin:16px;}
.userCard footer.media >a:hover{background:#cf5d5f;}
/* svg样式 */
.userCard svg{height: 30px;width: 30px;fill:white;vertical-align: top;}

body >main .downloadResume{font-size: 14px;line-height: 16px;padding:21px 55px;border:1px solid #CDCFD1;display: inline-block;background:#efefef;border-radius: 2px;color:#3d4451;font-weight: bold;margin:32px 0;    transition:box-shadow 0.3s;}
body >main .downloadResume:hover{box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);}
body >main .downloadResume-wrapper{text-align: center;}
body>main .selfIntroduction{max-width:940px;margin-left:auto;margin-right:auto;text-align: center;font-family: kai;line-height: 1.8;font-size: 18px; }
/* main end */
/* section */
section.skills,section.portfolio{max-width:940px;margin-left:auto;margin-right:auto;margin-top:60px;}
section.skills h2,
section.portfolio h2{text-align: center;font-size: 34px;line-height: 1.2;font-weight: 600;color:#3d4451;}

section.skills ol{box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);background: white;padding:42px 50px 10px;margin-top:30px;}
section.skills ol li{float:left;width:48%;box-sizing: border-box;}
section.skills ol li:nth-child(even){float:right;}
section.skills h3{font-size: 14px;line-height: 1.1;padding-right:40px;}
section.skills .progressBar{height: 5px;background: #fae1e1;border-radius: 2px;margin:4px 0 40px;overflow:hidden;}
section.skills .progress{height: 100%;background:#e6686a;width:50%;
transform: translateX(0); transition: all 1s;
}
section.skills.offset .progress{
    transform: translateX(-100%)
}
/* 作品集 */
section.portfolio{text-align: center;margin-bottom: 100px;max-width: 720px;}
section.portfolio h2{margin-bottom: 32px;}
section.portfolio .swiper-container{width: 668px; height: 501px;} 
section.portfolio .swiper-slide{background: white;}
.swiper-button-prev,.swiper-button-next{background-color: white;width:64px;height:64px;border-radius: 50%;right:100%;left:auto;}
.swiper-button-next{left:100%;right:auto;}